*,
 ::after,
 ::before {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

ul {
    padding: 0;
    list-style-type: none;
    margin: 0;
}

a {
    display: inline-block;
    text-decoration: none;
    color: #222;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    color: var(--darkgrey);
}

p,
label {
    margin: 0;
    color: var(--grey);
}

img {
    max-width: 100%;
    height: auto;
}

input {
    background-color: transparent;
    outline: none;
}

td,
th {
    vertical-align: middle;
    padding: 0.35rem 1rem!important;
}